<form class="pl-5 pr-5" action="/forum/add_topic" method="post">
     <div class="card card border-warning ml-3 mr-4 mt-2 mb-2 pl-2 pr-2 pt-2 pb-2" >
        <div class="card">
            <h4 class="pl-2"> Ajouter un sujet :</h4>
            <div class="card-body border rounded shadow-sm ml-1" >
                <div class="row">
                    <div class="col-md-3" style="padding: 5px;">
                        <p>Titre du Sujet :&nbsp;</p>
                    </div>
                    <div class="col-md-7" style="padding: 5px;"><input class="border rounded border-secondary" name="title_topic" type="text" autocomplete="off" style="width: 209px;filter: blur(0px);" required=""></div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 5px;">
                        <p>Titre de du message  :&nbsp;</p>
                    </div>
                    <div class="col-md-7" style="padding: 5px;"><input class="border rounded border-secondary" name="title_paper" type="text" style="width: 209px;filter: blur(0px);" autocomplete="off" required=""></div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 5px;">
                        <p>Article :&nbsp;</p>
                    </div>
                    <div class="col-md-7" style="padding: 5px;"><textarea class="border rounded border-secondary shadow-sm form-control-lg" name="paper" required maxlength="20" autocomplete="off" style="width: 400px;height: 95px;font-size: 13px;filter: blur(0px);" required=""></textarea></div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 5px;">
                        <p></p>
                    </div>
                    <div class="col-md-7" style="padding: 5px;">
                        <div class="btn-group" role="group"><button class="btn btn-primary text-warning border rounded border-danger" type="submit" value="envoyer" >Envoyer&nbsp;</button></div>
                    </div>
                </div>
                <div class="btn-group" role="group" type="submit" value="envoyer"></div>
            </div>
        </div>
    </div>
</form> 

