<%- include('head') %>

<body>

    <%- include('header') %>

    <div class="container-fluid">
        <div class="row">
            <!-- Colone Gauche-->
            <div class="col-xl-8">
                <div class="card border-success mb-3 mt-3" style="">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Success card title</h4>
                        <!-- Collones administration CRUD -->

                        <div class="row">
                            <div class="col-xl-12">
                                <ul class="list-group">
                                        <div class="col-9">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">  
                                        </div>

                                        <div class="col-3">
                                            <div class="row"></div>
                                                   <i class="fab fa-readme"></i>
                                            <i class="far fa-trash-alt"></i>

                                            <i class="fa fa-car"></i>

                                            </div>
                                         
                                            
                                            <i class="fab fa-readme"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>




                        <!-- =============================-->
                    </div>

                </div>
            </div>
            <!-- Colone Gauche-->
            <div class="col-xl-4">
                <div class="card border-success mb-3 mt-3" style="">
                    <div class="card-header">Statistiques</div>
                    <div class="card-body">

                        <%- include('statistic') %>
                    </div>
                </div>

            </div>


        </div>

</body>