<!DOCTYPE html>
 <div class="container">
        <div class="card border rounded"></div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.instagram.com/h4kh4_music/?hl=fr"><i class="icon ion-social-instagram"></i></a><a href="https://www.snapchat.com/l/fr-fr/download"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/H4kh4_Music"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/hakha.music.maker/"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/forum/index">Home</a></li>
                <li class="list-inline-item"><a href="https://h4kh4.com">Site internet</a></li>
                <li class="list-inline-item"><a href="https://www.moonlight-proj.com/">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="https://policies.google.com/privacy?hl=en-US">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Ak Forum © 2017</p>
        </footer>
    </div>