<!DOCTYPE html>

<%
		var dateNow = new Date();
				
%>
    <div class="row" style="margin: 0px;">
        <div class="col" style="margin-top: 12px;">
            <div class="alert alert-info text-lowercase border rounded shadow-sm" role="alert"><span><strong>Nous sommes le <span><strong>Nous sommes le : <%=dateNow.getDate()%>/<%=dateNow.getMonth()+1%>/<%=dateNow.getFullYear()%>&nbsp;</strong></span></div>
            <div class="alert alert-info text-lowercase border rounded shadow-sm" role="alert"><span><strong>Nombre d'article écrits : 0&nbsp;</strong></span></div>
            <div class="alert alert-info text-lowercase border rounded shadow-sm" role="alert"><span><strong>Nombres d'inscrits : 0&nbsp;</strong></span></div>
            <div class="alert alert-info text-lowercase border rounded shadow-sm" role="alert"><span><strong>Utilisateur connecté : 0&nbsp;:&nbsp;</strong></span></div>
            <div class="alert alert-info text-lowercase border rounded shadow-sm" role="alert"><span><strong>Article le plus commenté :&nbsp;</strong></span>
                <ul>
                    <li>Titre :&nbsp;Aucun article posté</li>
                    <li>Sujet :&nbsp;Aucun article posté</li>
                </ul>
            </div>
            <div class="alert alert-info text-lowercase border rounded shadow-sm" role="alert"><span><strong>Dernièr article posté :&nbsp;</strong></span>
                <ul>
                    <li>Titre :&nbsp;Aucun article posté</li>
                    <li>Sujet :&nbsp;Aucun article posté</li>
                </ul>
            </div>
        </div>
    </div>